<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Expense</title>
    <link rel="stylesheet" type="text/css" href="../public/style/expense.css">
</head>

<body>
    <h1>Track Your Expenses</h1>
    <div class="button-container">
        <div class="left-side">
            <button class="premium-button">Buy Premium</button>
        </div>
        <div class="right-side">
            <button class="signup-button">Sign Up</button>
            <button class="logout-button">Log Out</button>
        </div>
    </div>
    <div class="data-container">
        <div class="data">
            <h2>Total Expense:</h2>
            <p class="total-expense">0</p>
        </div>
        <div class="data">
            <h2>Total Income:</h2>
            <p class="total-income">0</p>
        </div>
        <div class="data">
            <h2>Balance:</h2>
            <p class="balance">0</p>
        </div>
    </div>
    <div class="leaderboard-container-parent">
        <div class="leaderboard-container">
            <table class="leaderboard-table">
                <h2>Expense Leaderboard</h2>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Amount Spent of Income</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-container">
        <div class="form-container1">
            <form action="expense/addexpense" method="POST" id="addExpenseForm">
                <label for="amount">Enter Expense Amount: </label>
                <input type="number" id="amount" name="amount" required>
                <label for="desc">Enter Description: </label>
                <input type="text" id="desc" name="desc">
                <label for="cat">Choose A Category: </label>
                <select id="cat" name="cat" required>
                    <option value="Miscellaneous">Miscellaneous</option>
                    <option value="Travel">Travel</option>
                    <option value="Grocery">Grocery</option>
                    <option value="Rent">Rent</option>
                    <option value="Entertainment">Entertainment</option>
                </select>
                <input type="submit" value="Add Expense">
            </form>
        </div>
        <div class="form-container2">
            <form action="income/addincome" id="addIncomeForm">
                <label for="amount">Enter Income Amount: </label>
                <input type="number" id="amount1" name="amount" required>
                <label for="desc">Enter Description: </label>
                <input type="text" id="desc1" name="desc">
                <label for="cat">Choose A Category: </label>
                <select id="cat1" name="cat" required>
                    <option value="Salary">Salary</option>
                    <option value="Bonus">Bonus</option>
                    <option value="Freelancing">Freelancing</option>
                    <option value="Stocks">Stocks</option>
                    <option value="Business Sales">Business Sales</option>
                </select>
                <input type="submit" value="Add Income">
            </form>
        </div>
    </div>
    <div class="table-container">
        <div class="table1">
            <table id="expenseTable">
                <thead>
                    <tr>
                        <th>Expense Amount</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="table2">
            <table id="incomeTable">
                <thead>
                    <tr>
                        <th>Income Amount</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="../public/dom-expense.js"></script>
</html>