<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kuber -Expense Tracker App</title>
    <link rel="stylesheet" type="text/css" href="../public/style/home.css">
</head>

<body>
    <div class="header">
        <h1>KUBER - The Expense Tracker App</h1>
    </div>
    <div class="main-container">
        <div class="graphics">
            <img src="C:\PUSHKAR EVERYTHING\IT\Languages\Sharpener Tasks\Backend\Expense Tracker - Node.js Project\expense-home-pic.jpg"
                alt="Expense Graphic 1">
        </div>
        <div class="container">
            <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: justify;">Easily manage your expenses and incomes with KUBER and say goodbye to overspending habits!</h3>
            <br>
            <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Premium Features:</h2>
            <p>Download your Expenses and Income.</p>
            <p>Compare your expense percentage with other users.</p>
            <div>
                <a href="signup.html" class="button">Sign Up</a>
                <a href="login.html" class="button">Login</a>
            </div>
        </div>
    </div>
    <div class="endDiv">
        <p>For any inquiries regarding reviews or proposals for edits, kindly reach out to me at
            pushkartiwari3001@gmail.com. Your feedback and suggestions are greatly appreciated</p>
    </div>
</body>

</html>