<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Form</title>
    <link rel="stylesheet" type="text/css" href="/style/resetPassword.css">
</head>

<body>
    <div class="container">
        <h2>Reset Your Password</h2>
        <form id="passwordResetForm" action="/submit" method="post">
            <label for="newPassword"> Enter New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script src="/dom-resetPassword.js"></script>
</html>
